{% extends 'layout.html' %}

{% block content %}
    <h1>Users list</h1>

    {% include 'footer.html' %}

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Password</th>
                <th>Registration Date</th>
            </tr>
        </thead>
        <tbody>
        {% for row in users_dict_list %}
            <tr>
                <td>{{ row['id'] }}</td>
                <td>{{ row['user_name'] }}</td>
                <td>{{ row['password'] }}</td>
                <td>{{ row['submission_time'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}