{% extends 'layout.html' %}

{% block content %}
    {% if id_check == True %}
        <h1>User Activity for: {{ session['username'] }}, Reputation: {{ session['reputation'] }}</h1>

        {% if questions_dict_list|length > 0 %}
        <h2>User Questions:</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for row in questions_dict_list %}
                <tr>
                    <td><a href="/question/{{ row['id'] }}">{{ row['title'] }}</a></td>
                    <td>{{ row['message'] }}</td>
                    <td><img src="/static/images/{{ row['image'] }}" alt="random image"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>User has no questions.</p>
        {% endif %}

        {% if answers_dict_list|length > 0 %}
            <h2>User Answers:</h2>
            <table>
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Image</th>
                    <th>Question</th>
                </tr>
            </thead>
            <tbody>
                {% for row in answers_dict_list %}
                <tr>
                    <td>
                        {{ row['message'] }}
                            {% if row['accepted'] %}
                        <i class="fas fa-check-square"></i><br>
                            {% endif %}
                    </td>
                    <td><img src="/static/images/{{ row['image'] }}" alt="random image"></td>
                    <td><a href="/question/{{ row['question_id'] }}">{{ row['title'] }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>User has no answers.</p>
        {% endif %}

        {% if comments_dict_list|length > 0 %}
            <h2>User Comments:</h2>
            <table>
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Answer</th>
                    <th>Question</th>
                </tr>
            </thead>
            <tbody>
                {% for row in comments_dict_list %}
                <tr>
                    <td>{{ row['message'] }}</td>
                    <td>{{ row['ans_mes'] }}</td>
                    <td><a href="/question/{{ row['id'] }}">{{ row['title'] }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>User has no comments.</p>
        {% endif %}

    {% else %}
        <p class="user_error">You are not authorized to view this user data.</p>
    {% endif %}

    {% include 'footer.html' %}


{% endblock %}